<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboard.mapper.CommentMapper">
	<insert id="insertComment" parameterType="comment">
		INSERT INTO T_SB_COMMENT(
			BOARD_NO,
			COMM_NO,
			COMM_LV,
			COMM_OR,
			COMM_GR,
			COMM_WRITER,
			COMM_CONTENT,
			COMM_REGDATE,
			COMM_DEL
		) VALUES (
			#{boardNo},
			(
				SELECT IFNULL(MAX(C.COMM_NO), 0) + 1 FROM T_SB_COMMENT C
			),
			0,
			0,
			(
				SELECT IFNULL(MAX(C.COMM_GR), 0) + 1 FROM T_SB_COMMENT C
			),
			#{commWriter},
			#{commContent},
			now(),
			'N'
		)
	</insert>
	
	<select id="getComment" parameterType="map" resultType="comment">
		SELECT * FROM T_SB_COMMENT WHERE BOARD_NO = #{boardNo} ORDER BY COMM_GR, COMM_OR
	</select>
<!--	<select id="getComment" parameterType="int" resultType="comment">
		SELECT * FROM T_SB_COMMENT WHERE BOARD_NO = #{boardNo} ORDER BY
	</select> -->
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM T_SB_COMMENT WHERE COMM_NO = #{commNo}
	</delete>
	
	<insert id="insertReply" parameterType="comment">
		INSERT INTO T_SB_COMMENT(
			BOARD_NO,
			COMM_NO,
			COMM_LV,
			COMM_OR,
			COMM_GR,
			COMM_WRITER,
			COMM_CONTENT,
			COMM_REGDATE,
			COMM_DEL
		) VALUES (
			#{boardNo},
			(
				SELECT IFNULL(MAX(C.COMM_NO), 0) + 1 FROM T_SB_COMMENT C
			),
			1,
			(
				SELECT IFNULL(MAX(C.COMM_OR), 0) + 1 FROM T_SB_COMMENT C
			),
			#{commGr},
			#{commWriter},
			#{commContent},
			now(),
			'N'
		)
	</insert>
	
	<select id="replyCheck" parameterType="comment" resultType="int">
		SELECT
			COUNT(C.COMM_GR)
		FROM T_SB_COMMENT C
		WHERE C.BOARD_NO = #{boardNo}
		AND C.COMM_GR = #{commGr} 
	</select>
	
	<update id="updateComm" parameterType="comment">
		UPDATE T_SB_COMMENT
			SET COMM_CONTENT = '삭제된 댓글입니다.',
				COMM_DEL = 'Y'
		WHERE COMM_NO = #{commNo}
	</update>
</mapper>